<!DOCTYPE html>
<html lang="en">
<head>
 
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  
  <title>Tweety Ad Ventures</title>
</head>
<body>
  <div class="container">
    <div class="text-center">
    <h3>Tweety Ad ventures</h3>
    <%= typeof msg != 'undefined' ? msg : '' %>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <div class="file-field input-field">
        <div class="btn btn-info">
          <span>File</span>
          <input name="Ads" type="file">
        </div>
        </div>
        <div>
            <p>
            <label>Iterations Required</label></br>
            <input name="count" type="text" class="validate">
        </div>
      <button type="submit" class="btn">Submit</button>
	 <div> 
      <p>
      <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
	  </p>
	  </div>
    </form>
    <br>
    <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img">
  </div>
  </div>

  
</body>
</html>