<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
  <title>Tweeple</title>
</head>
<body>
  <div class="container">
      <div class="container">    
          
              <div class="text-center">
                  <h1>Tweeple</h1>
          
              <div class="page-header text">
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
          
          
            </div>
    <%= typeof msg != 'undefined' ? msg : '' %>
    <form action="/upload" method="POST" enctype="multipart/form-data" encrypt="multipart/form-data">
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input name="Ads" type="file">
		  <br><br> 	
          <input name="count" type="number" id="countElement" onChange="price()"  placeholder="No of ads">
        </div>
        <!-- <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div> -->
      </div>
      <br>
	  <label> Each ad Costs $2 </label>
      <br>
	  <label> PRICE </label>
	<label id="price" ></label> 
	<br><br><br>
      <button type="submit" class="btn btn-info">Buy Ads</button>
	 <div> 
      <p>
        <br>
        <br>
      <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
	  </p>.
	  </div>
    </form>
    <br>
    <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img">
  

</div>
  
</body>
<script>
function price() {
    var x = document.getElementById("countElement").value;
    document.getElementById("price").innerHTML = "$"+2*x;
}</script>

}
</html>