<!doctype html>
<html>
<head>
    <title>Tweeple</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
   
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
  <div class="text-center">
</div>
		<br>
		<br>
		<br>
    <h3> Signin</h3>

   
<% if (message) { %>
<p><%= message %></p>
<% } %>
   
    <form action="/login" method="post">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-info">Signup</button> <p>Not a member? <a href="/signup">Signup</a></p>
    <p>Or go <a href="/">home</a>.</p>

    </form>

    

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

  

</div>
</div>
</body>
</html>
