<!doctype html>
<html>
<head>
    <title>Tweeple</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>



 
 


 

   <div class="container">    
 <div class="text-center">
 
         <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            
                <h3 >Your Twitter info</h3>

                <% if (user.twitter.token) { %>
                    <p>
                       
                        <strong>display name</strong>: <%= user.twitter.displayName %><br>
						

                        <strong>username</strong>: <%= user.twitter.username %>
                    </p>

                    <a href="/unlink/twitter" class="btn btn-info">Unlink</a>
                <% } else { %>
                    <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
                <% } %>
               

            </div>
 </div>

<div class="container">
       
<div class="text-center">
   <h3 >upload image</h3>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <div class="file-field input-field">
        <div class="btn grey">
          <span>File</span>
          <input name="Ads" type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
      

    </form>
    <br>
    <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img">
  
 
</div>
</div>

</body>
</html>
