<!doctype html>
<html>
<head>
    <title>Tweety</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    
   
</head>
<body>
<div class="container">    

    <div class="text-center">
        <h1>Tweety</h1>

    <div class="page-header text">
  <a href="/logout" class="btn btn-default btn-sm">Logout</a>


	</div>
            
                <h3 >Your Twitter info</h3>
				 
 
 

                <% if (user.twitter.token) { %>
                    <p>
                       
  <img src="https://avatars.io/twitter/<%= user.twitter.username %>" class="img-thumbnail"><br>
                        <strong>display name</strong>: <%= user.twitter.displayName %><br>
						

                        <strong>username</strong>: <%= user.twitter.username %>
                    </p>
 <br>
 <br>
             <a href="/unlink/twitter" class="btn btn-info">Unlink</a>
                <% } else { %>
                    <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
                <% } %>
               

            </div>
 </div>

 <div class="text-center">
 <br>

 
 <p>Login to Upload Image <a href="/login">Login</a></p>
  
 </div>


</body>
</html>
